.Top {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-height: 10vh;
    width: 100%;
    position: relative; 
    margin-bottom: 10vh;
}

.Logo {
    width: 15%;
    height: auto;
}

.Code {
    position: absolute; 
    right: 3vw; 
    font-size: xx-large;
}